.interna-produtos{
	background: url("../img/bg-produtos.jpg") no-repeat center;
	background-size: cover;
}

.produto_item{
	padding-top: 60px;
}

.produto_item h2{
	font-size: 36px;
	line-height: 40px;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-weight: bold;
	position: relative;
	top: -180px;
	text-align: center;
	color: #fff;
	margin-bottom: -38px;
}

.produto_item h2:before{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 0 auto 6px auto;
}

.produto_item h2:after{
	content: "";
	display: block;
	width: 60px;
	height: 3px;
	background: #fff;
	margin: 6px auto 0 auto;
}


.produto_icone{
	background: #000;
	
}

.produto_icone img{
	margin: 0 auto;
	padding: 70px 0;
}

.produto_info{
	background: #000;
}

.produto_info p{
	color: #fff;
	font-size: 18px;
	line-height: 25px;
	padding: 30px 40px;
	height: 180px;
}

.produto_info ul li{
	background: #fec63e;
	color: #000;
	text-transform: uppercase;
	letter-spacing: .05em;
	font-size: 18px;
	line-height: 20px;
	font-weight: bold;
	text-align: center;
	float: left;
	width: 229px;
	height: 49px;
	padding-top: 15px;
}

.produto_info ul li:nth-child(1), .produto_info ul li:nth-child(2){
	margin-bottom: 2px;
}

.produto_info ul li:nth-child(even){
	margin-left: 2px;
}


/* Orçamento */

.orcamento{
	background: #000;
	width: 100%;
	margin-top:60px;
	padding-bottom: 60px; 
}

.orcamento .subtitulo{
	padding-top: 60px;
	color: #fec63e;
}

.orcamento .subtitulo:after{
	background: #fec63e;
}

.form{
	padding-right: 60px; 
}

.form label	{
	display: block;
	font-family: Georgia, "Times New Roman", serif;
	font-size: 18px;
	line-height: 25px;
	color: #fff;
	margin-bottom: 5px;
}

.form input	{
	display: block;
	width: 100%;
	border: 3px solid #fec63e;
	background: none;
	color: #fff;
	padding: 7px 10px;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
	margin-bottom: 10px;
}

.form textarea{
	display: block;
	width: 100%;
	border: 3px solid #fec63e;
	background: none;
	padding: 7px 10px;
	outline: none;
	font-size: 14px;
	line-height: 20px;
	font-family: Georgia, "Times New Roman", serif;
	height: 130px;
	margin-bottom: 20px;
	color: #fff;
}

.orcamento button{
	background: none;
	padding: 7px 40px;
}

.orcamento_dados{
	color: #fff;
}

.orcamento_dados h3{
	font-size: 18px;
	text-transform: uppercase;
	color: #fec63e;
	line-height: 25px;
	font-weight: bold;
	letter-spacing: .1em;
}

.orcamento_dados span{
	display: block;
	font-size: 18px;
	font-family: Georgia, "Times New Roman", serif;
	line-height: 30px;
}

.orcamento_dados span:nth-child(3){
	margin-bottom: 40px; 
}

.orcamento_dados p{
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
	margin: 8px 0;
}

.orcamento_dados ul{
	padding-right: 120px;
}


.orcamento_dados ul li{
	font-size: 14px;
	font-family: Georgia, "Times New Roman", serif;
	padding: 10px 10px;
}

.orcamento_dados ul li:nth-child(odd){
	background-color: #292929;
}